<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>LeetCode.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>Prob1001_Two_Sum.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>Prob1002_Add_Two_Numbers.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>Prob1003_Longest_Substring_Without_Repeating_Characters.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>Prob1004_Median_of_Two_Sorted_Arrays.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>Prob1005_Longest_Palindromic_Substring.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>Prob1006_ZigZag_Conversion.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>Prob1007_Reverse_Integer.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>Prob1008_ String_to_Integer_atoi.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>Prob1009_Palindrome_Number.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>Prob1010_Regular_Expression_Matching.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>12</integer>
		</dict>
		<key>Prob1011_Container_With_Most_Water.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>Prob1012_Integer_to_Roman.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>14</integer>
		</dict>
		<key>Prob1013_Roman_to_Integer.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>15</integer>
		</dict>
		<key>Prob1014_Longest_Common_Prefix.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>16</integer>
		</dict>
		<key>Prob1015_3Sum.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>17</integer>
		</dict>
		<key>Prob1016_3Sum_Closest.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>18</integer>
		</dict>
		<key>Prob1017_Letter_Combinations_of_a_Phone_Number.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>20</integer>
		</dict>
		<key>Prob1018_4Sum.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>19</integer>
		</dict>
		<key>Prob1019_Remove_Nth_Node_From_End_of_List.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>21</integer>
		</dict>
		<key>Prob1020_Valid_Parentheses.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>22</integer>
		</dict>
		<key>Prob1021_Merge_Two_Sorted_Lists.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>27</integer>
		</dict>
		<key>Prob1022_Generate_Parentheses.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>23</integer>
		</dict>
		<key>Prob1023_Merge_k_Sorted_Lists.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>28</integer>
		</dict>
		<key>Prob1024_Swap_Nodes_in_Pairs.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>45</integer>
		</dict>
		<key>Prob1025_Reverse_Nodes_in_k-Group.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>47</integer>
		</dict>
		<key>Prob1026_Remove_Duplicates_from_Sorted_Array.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>54</integer>
		</dict>
		<key>Prob1027_Remove_Element.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>57</integer>
		</dict>
		<key>Prob1028_Implement_strStr_function.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>58</integer>
		</dict>
		<key>Prob1029_Divide_Two_Integers.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>39</integer>
		</dict>
		<key>Prob1030_Substring_with_Concatenation_of_All_Words.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>67</integer>
		</dict>
		<key>Prob1031_Next_Permutation.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>60</integer>
		</dict>
		<key>Prob1032_Longest_Valid_Parentheses.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>24</integer>
		</dict>
		<key>Prob1033_Search_in_Rotated_Sorted_Array.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>71</integer>
		</dict>
		<key>Prob1034_Find_First_and_Last_Position_of_Element_in_Sorted_Array.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>72</integer>
		</dict>
		<key>Prob1035_Search_Insert_Position.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>73</integer>
		</dict>
		<key>Prob1036_Valid_Sudoku.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>74</integer>
		</dict>
		<key>Prob1037_Sudoku_Solver.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>75</integer>
		</dict>
		<key>Prob1038_Count_and_Say.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>78</integer>
		</dict>
		<key>Prob1039_Combination_Sum.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>82</integer>
		</dict>
		<key>Prob1040_Combination_Sum_II.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>83</integer>
		</dict>
		<key>Prob1041_First_Missing_Positive.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>84</integer>
		</dict>
		<key>Prob1042_Trapping_Rain_Water.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>80</integer>
		</dict>
		<key>Prob1043_Multiply_Strings.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>94</integer>
		</dict>
		<key>Prob1046_Permutations.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>61</integer>
		</dict>
		<key>Prob1047_Permutations_II.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>62</integer>
		</dict>
		<key>Prob1050_Pow_function.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>59</integer>
		</dict>
		<key>Prob1053_Maximum_Subarray.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>88</integer>
		</dict>
		<key>Prob1056_Merge_Intervals.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>33</integer>
		</dict>
		<key>Prob1057_Insert_Interval.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>37</integer>
		</dict>
		<key>Prob1060_Permutation_Sequence.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>63</integer>
		</dict>
		<key>Prob1062_Unique_Paths.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>76</integer>
		</dict>
		<key>Prob1063_Unique_Paths_II.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>77</integer>
		</dict>
		<key>Prob1064_Minimum_Path_Sum.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>87</integer>
		</dict>
		<key>Prob1066_Plus_One.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>97</integer>
		</dict>
		<key>Prob1067_Add_Binary.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>98</integer>
		</dict>
		<key>Prob1069_Sqrt_x.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>102</integer>
		</dict>
		<key>Prob1075_Sort_Colors.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>34</integer>
		</dict>
		<key>Prob1084_Largest_Rectangle_in_Histogram.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>55</integer>
		</dict>
		<key>Prob1085_Maximal_Rectangle.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>53</integer>
		</dict>
		<key>Prob1088_Merge_Sorted_Array.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>29</integer>
		</dict>
		<key>Prob1111_Minimum_Depth_of_Binary_Tree.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
		<key>Prob1143_Reorder_List.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>48</integer>
		</dict>
		<key>Prob1147_Insertion_Sort_List.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>35</integer>
		</dict>
		<key>Prob1148_Sort_List.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>30</integer>
		</dict>
		<key>Prob1152_Maximum_Product_Subarray.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>85</integer>
		</dict>
		<key>Prob1160_Intersection_of_Two_Linked_Lists.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>49</integer>
		</dict>
		<key>Prob1168_Excel_Sheet_Column_Title.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>68</integer>
		</dict>
		<key>Prob1171_Excel_Sheet_Column_Number.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>66</integer>
		</dict>
		<key>Prob1172_Factorial_Trailing_Zeroes.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>99</integer>
		</dict>
		<key>Prob1174_Dungeon_Game.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>90</integer>
		</dict>
		<key>Prob1198_House_Robber.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>91</integer>
		</dict>
		<key>Prob1213_House_Robber_II.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>92</integer>
		</dict>
		<key>Prob1221_Maximal_Square.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>56</integer>
		</dict>
		<key>Prob1233_Number_of_Digit_One.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>100</integer>
		</dict>
		<key>Prob1238_Product_of_Array_Except_Self.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>86</integer>
		</dict>
		<key>Prob1258_Add_Digits.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>70</integer>
		</dict>
		<key>Prob1268_Missing_Number.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>81</integer>
		</dict>
		<key>Prob1301_Remove_Invalid_Parentheses.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>25</integer>
		</dict>
		<key>Prob1319_Bulb_Switcher.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>13</integer>
		</dict>
		<key>Prob1324_Wiggle_Sort_II.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>36</integer>
		</dict>
		<key>Prob1337_House_Robber_III.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>93</integer>
		</dict>
		<key>Prob1344_Reverse_String.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>43</integer>
		</dict>
		<key>Prob1345_Reverse_Vowels_of_a_String.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>42</integer>
		</dict>
		<key>Prob1415_Add_Strings.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>95</integer>
		</dict>
		<key>Prob1445_Add_Two_Numbers_II.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>50</integer>
		</dict>
		<key>Prob1541_Reverse_String_II.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>44</integer>
		</dict>
		<key>Prob1557_Reverse_Words_in_a_String_III.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>46</integer>
		</dict>
		<key>Prob1599_Maximal_Rectangle.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>52</integer>
		</dict>
		<key>Prob1599_Minimum_Index_Sum_of_Two_Lists.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>51</integer>
		</dict>
		<key>Prob1628_Maximum_Product_of_Three_Numbers.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>89</integer>
		</dict>
		<key>Prob1763.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>38</integer>
		</dict>
		<key>Prob1763_Partition_Labels.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>40</integer>
		</dict>
		<key>Prob1793_Preimage_Size_of_Factorial_Zeroes_Function.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>101</integer>
		</dict>
		<key>Prob1970_Powerful_Integers.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>69</integer>
		</dict>
		<key>Prob1977_Squares_of_a_Sorted_Array.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>31</integer>
		</dict>
		<key>Prob1980_Unique_Paths_III.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>79</integer>
		</dict>
		<key>Prob1986_Interval_List_Intersections.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>32</integer>
		</dict>
		<key>Prob1989_Add_to_Array-Form_of_Integer.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>96</integer>
		</dict>
		<key>Prob1996_Number_of_Squareful_Arrays.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>64</integer>
		</dict>
		<key>Prob2003_Check_If_Word_Is_Valid_After_Substitutions.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>26</integer>
		</dict>
		<key>Prob2088_Confusing_Number_II.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>41</integer>
		</dict>
		<key>Prob6028_Armstrong_Number.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>65</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0D02EFC922C4FE4C001678F5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0D02EFD422C62B0D001678F5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0D02EFDF22C6323F001678F5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0D02EFEA22C7A683001678F5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0D02EFF522C7B1BC001678F5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0D02F00B22CA4864001678F5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0D02F01622CA4CDC001678F5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0D02F02122CB93CD001678F5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0D02F02C22CBA2D8001678F5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0D02F03722CBAB58001678F5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0D02F04222CCF227001678F5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0D02F04D22CE31EE001678F5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0D02F05822CE4262001678F5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0D02F06322CF785B001678F5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0D02F06E22CF8B18001678F5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0D02F07922D03DF5001678F5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0D02F08422D048F3001678F5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0D02F08F22D0DEAB001678F5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0D02F09A22D0EC7B001678F5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0D02F0A522D1BA7A001678F5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0D02F0B022D36CFB001678F5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0D02F0BB22D38280001678F5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0D02F0C622D38B31001678F5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0D02F0D122D392EE001678F5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0D02F0E722D61C02001678F5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0D02F0F222D623F7001678F5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0D02F0FD22D76828001678F5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0D02F10822D775E3001678F5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0D02F11322D77CF6001678F5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0D02F11E22D8D74C001678F5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0D02F12922DA30DC001678F5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0D02F13422DB630C001678F5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0D02F13F22DB69B0001678F5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0D02F14A22DB6DD8001678F5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0D02F15522DB7752001678F5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0D02F16022DCC85E001678F5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0D02F16B22DE0C68001678F5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0D02F18122DF70B7001678F5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0D1C23FA22A5178F00256F48</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0D1E80D322B32E4A0016735E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0D38B6C722B07F4B00C0ADA6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0D38B6D222B090C300C0ADA6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0D53D97F22B2638800A4C0B7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0D53D98A22B2710D00A4C0B7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0D57FB9A229C25CF0063E17B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0D57FBA8229C288E0063E17B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0D625F3D22A4275300BD4092</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0D71896B22A8027000C7EA0F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0D71897622A8A62600C7EA0F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0D71898C22AA78E700C7EA0F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0D71899722AA8ABC00C7EA0F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0D7189A222AA995000C7EA0F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0D7189AD22AB579A00C7EA0F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0D8D2B2922B3B0F8002861C0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0D8D2B3422B48297002861C0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0D8D2B3F22B4883D002861C0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0D8D2B4A22B4B35E002861C0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0D8D2B5522B4C5B2002861C0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0D8D2B6022B4D17F002861C0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0D8D2B7E22B5D9AB002861C0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0D8D2B8922B5F129002861C0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0D8D2B9422B61E14002861C0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0D8D2B9F22B63EBE002861C0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0D8D2BAA22B6981C002861C0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0D8D2BB522B72C08002861C0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0D8D2BC022B77980002861C0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0D8D2BCB22B7799D002861C0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0D8D2BD622B8B14C002861C0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0D8D2BE122B8FBDE002861C0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0D8D2BEC22BA74CC002861C0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0D8D2BF722BA7AAC002861C0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0D8D2C0222BA83D9002861C0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0D8D2C0D22BB1789002861C0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0D8D2C1822BBB088002861C0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0D8D2C2322BBDA73002861C0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0D8D2C2E22BC6F29002861C0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0D8D2C3922BCA2B0002861C0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0D8D2C4422BCAF8A002861C0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0D9192D4229EC05E008E17A2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0D9192DF229ED143008E17A2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0D91930022A025D0008E17A2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0D91932122A178BF008E17A2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0D91937A22A2CCEE008E17A2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0DA668E922B2330D00BF1659</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0DB8807022A6BC0D006AAA30</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0DD749A222AFEB6E001FCB21</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0DD749AD22AFFC9B001FCB21</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0DD77D4E22ACACC400CD43F9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0DED9B0E22BDFCF400A4B05F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0DED9B1922BE04EE00A4B05F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0DED9B2422BE052100A4B05F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0DED9B2F22BE2B8000A4B05F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0DED9B3A22BF98C100A4B05F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0DED9B4522C1047F00A4B05F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0DED9B5022C108E400A4B05F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0DED9B5B22C10C4500A4B05F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0DED9B6622C25E3100A4B05F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0DED9B7122C26B5C00A4B05F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0DED9B7C22C2F80F00A4B05F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0DED9B8722C302AB00A4B05F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0DED9B9222C3893600A4B05F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0DED9BA822C4DFDE00A4B05F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0DF925F7229D790100756D4D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
